/* เหมือนหน้า patient */

.role-selector {
    display: flex;
    gap: 10px;
  }
  
  .role-btn {
    padding: 6px 16px;
    border-radius: 20px;
    border: none;
    background: #e5e5e5;
    cursor: pointer;
    font-size: 13px;
    transition: 0.2s;
  }
  
  .role-btn:hover {
    transform: scale(1.05);
  }
  
  .role-btn.active {
    background: linear-gradient(90deg, #6E65BE, #9a94e6);
    color: white;
  }