/* TOP BAR */
.top-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .top-bar input {
    flex: 1;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
  }
  
  /* BUTTON */
  .filter-btn {
    background: #E5E3FF;
    border: none;
    padding: 10px 16px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .add-btn {
    margin-left: auto;
    background: #6E65BE;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  /* TABLE */
  .table-container {
    background: white;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    font-size: 14px;
  }
  
  thead {
    background: #f3f3f3;
  }
  
  tbody tr {
    border-top: 1px solid #eee;
  }
  
  /* USER */
  .user-cell {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .user-cell img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  
  /* STATUS */
  .status {
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 12px;
  }
  
  .active {
    background: #c9eceb;
  }
  
  .inactive {
    background: #f5c6c6;
  }
  
  /* ACTION */
  .actions i {
    margin-right: 10px;
    cursor: pointer;
  }

  .role-dropdown {
    position: relative;
  }
  
  .role-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #E5E3FF;
    padding: 10px 18px;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .arrowdropdown {
    width: 12px;
    transition: 0.3s;
  }
  
  .arrowdropdown.rotate {
    transform: rotate(180deg);
  }
  
  /* dropdown */
  .dropdown-menu {
    position: absolute;
    top: 120%;
    left: 0;
    width: 140px;
  
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  
    display: none;
    overflow: hidden;
    z-index: 10;
  }
  
  .dropdown-menu div {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-menu div:hover {
    background: #f3f2ff;
  }
  
  .dropdown-menu.show {
    display: block;
  }